
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// resetar o arquivo de css

body {
    background: @bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Poppins', 'sans-serif';
}

* {
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: 'Poppins', 'sans-serif';
}

.primary-button {
    background: @pink;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 35px;
}

.secondary-button {
    background: #FFF;
    border: 1px solid #000;
    border-radius: 8px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 35px;
}

@media @smartphones {
    body {
        background: #FFF;
    }
}